---
import Row from '@components/Row.astro'
import Column from '@components/Column.astro'
---

<Row container>
	<Column xs={0} lg={1} xl={2} />
	<Column xs={16} lg={12} xl={10}>
		<h2 class='font-serif text-2xl leading-loose md:text-[32px] md:leading-[48px]'><slot /></h2>
	</Column>
</Row>
