---
import { getCollection } from 'astro:content'
import Layout from '@components/Layout.astro'
import HomeSection from '@components/HomeSection.astro'

const writing = await getCollection('writing')
const experience = await getCollection('experience')
---

<Layout title='Vitor Dino'>
	<main>
		<HomeSection title='writing'>
			<pre>{JSON.stringify({ writing }, null, 2)}</pre>
		</HomeSection>
		<HomeSection title='experience'>
			<pre>{JSON.stringify({ experience }, null, 2)}</pre>
		</HomeSection>
	</main>
</Layout>
