<li
	class='ml-[1.5em] mt-7 list-outside pl-2 marker:font-sans marker:text-sm marker:tracking-wide marker:text-slate-10 lg:-ml-2 lg:pl-2'
	{...Astro.props}
>
	<span class='text-xl leading-10 md:text-2xl md:leading-loose'>
		<slot />
	</span>
</li>
