---
import Layout from '@components/Layout.astro'
import Container from '@components/Container.astro'
import Row from '@components/Row.astro'
import Column from '@components/Column.astro'
import EtymosCanvas from '@components/EtymosCanvas.astro'

type Props = { title?: string; description?: string; tags?: string[]; hero?: { canvas?: string } }

const { title, description, tags, hero } = Astro.props
const canvasMap = {
	etymos: EtymosCanvas,
}
const Canvas = canvasMap[hero.canvas]
---

<div class='relative bg-slate-1 font-serif text-slate-12' data-theme='dark'>
	{Canvas && <Canvas class='absolute h-full w-full' />}
	<Container class='relative pt-16 md:pt-24 lg:pt-32'>
		<Row>
			<Column xs={0} lg={1} xl={2} />
			<Column xs={16} md={10} lg={8} xl={6}>
				<h1 class='text-5xl font-bold lowercase leading-tight tracking-tight'>{title}</h1>
				<h2 class='mt-4 text-2xl lowercase leading-relaxed'>{description}</h2>

				<div class='pt-16 md:pt-24 lg:pt-32'></div>
				{
					!!tags?.length && (
						<ul class='mb-6 mt-8 flex gap-12 text-slate-10 md:mt-16'>
							{tags.map((tag) => (
								<li key={tag}>{tag}</li>
							))}
						</ul>
					)
				}
			</Column>
		</Row>
	</Container>
</div>
