---
import Container from 'src/components/Container.astro'
import Row from 'src/components/Row.astro'
import Column from 'src/components/Column.astro'
import EtymosCanvas from 'src/components/EtymosCanvas.astro'
import ReduxtronCanvas from 'src/components/ReduxtronCanvas.astro'

type Props = { title?: string; description?: string; tags?: string[]; hero?: { canvas?: string } }

const { title, description, tags, hero } = Astro.props

const CANVAS_MAP = {
	etymos: EtymosCanvas,
	reduxtron: ReduxtronCanvas,
} as const

const hasValidCanvasId = (hero?: Props['hero']): hero is { canvas: keyof typeof CANVAS_MAP } =>
	!!hero?.canvas && hero.canvas in CANVAS_MAP

const Canvas = hasValidCanvasId(hero) && CANVAS_MAP[hero.canvas]
---

<div class='relative bg-slate-1 text-slate-12'>
	{Canvas && <Canvas class='absolute h-full w-full print:hidden' />}
	<Container class='relative pt-24 lg:pt-32'>
		<Row>
			<Column xs={0} lg={1} xl={2} />
			<Column xs={16} md={10} lg={8} xl={6}>
				<h1 class='text-3xl font-[450] lowercase leading-tight tracking-[-0.0375em] sm:text-4xl md:text-5xl'>
					{title}
				</h1>
				<h2 class='mt-4 font-serif text-xl lowercase leading-relaxed text-slate-11 sm:text-2xl'>{description}</h2>

				<div class='pt-16 md:pt-24 lg:pt-32'></div>
				{
					!!tags?.length && (
						<ul class='mb-6 mt-8 flex gap-12 text-xs font-semibold uppercase tracking-wider text-slate-11 md:mt-16'>
							{tags.map(tag => (
								<li>{tag}</li>
							))}
						</ul>
					)
				}
			</Column>
		</Row>
	</Container>
</div>
