---
const { frontmatter } = Astro.props
import Layout from '@components/Layout.astro'
---

<Layout title={frontmatter.title}>
	<h1>{frontmatter.title}</h1>
	<h2>Post author: {frontmatter.author}</h2>
	<p>{frontmatter.description}</p>
	<slot />
</Layout>
