---
import Container from '@components/Container.astro'
import HomeCanvas from './HomeCanvas.astro'
---

<div class='relative'>
	<div class='fixed left-0 right-0 top-0 overflow-hidden lg:text-slate-12'>
		<HomeCanvas />
		<Container class='relative flex flex-col justify-end pb-16 pt-32 md:pb-24 lg:min-h-[85vh] lg:pb-32'>
			<h1 class='tracking font-sans text-4xl font-medium lowercase leading-tight lg:text-5xl'>
				Move fast,<br />learn every day
			</h1>
		</Container>
	</div>
	<!-- duplicate to ocupy same space -->
	<div aria-hidden='true' class='pointer-events-none relative select-none overflow-hidden opacity-0 lg:text-slate-12'>
		<Container class='relative flex flex-col justify-end pb-16 pt-32 md:pb-24 lg:min-h-[85vh] lg:pb-32'>
			<h1 class='tracking font-sans text-4xl font-medium lowercase leading-tight lg:text-5xl'>
				Move fast,<br />learn every day
			</h1>
		</Container>
	</div>
</div>
