---
import Row from './Row.astro'
import Column from './Column.astro'

export type Props = { title?: string }
const { title } = Astro.props
---

<section class='relative break-inside-avoid'>
	<div class='hidden border-b border-slate-4 bg-slate-1 lg:block'></div>
	<Row container>
		<Column
			xs={16}
			lg={3}
			xl={2}
			class='sticky top-0 bg-slate-1 print:relative lg:relative lg:top-0 lg:border-none lg:bg-transparent lg:pb-4 lg:pt-0'
		>
			<h2 data-home-section-title class='py-3 text-slate-9 lg:sticky lg:top-4 lg:mt-4 lg:py-0'>
				{title}
			</h2>
			<div class='-mx-4 border-b border-slate-4 print:mx-0 md:-mx-8 lg:hidden'></div>
		</Column>
		<Column xs={0} xl={2} xxl={3} />
		<Column xs={16} lg={12} xl={8} xxl={6} class='pt-10 lg:pt-4'>
			<ul>
				<slot />
			</ul>
		</Column>
	</Row>
</section>
<script>
	const update = (element: HTMLHeadingElement) => {
		if (window.innerWidth >= 1024) {
			element.style.transform = `translate3d(0px, 0, 0)`
			return
		}
		const { y } = element.getBoundingClientRect()
		if (window.innerWidth >= 768) {
			const x = Math.min(Math.max(-y + 44, 0), 16)
			element.style.transform = `translate3d(${x}px, 0, 0)`
			return
		}
		const x = Math.min(Math.max(-y + 44, 0), 28)
		element.style.transform = `translate3d(${x}px, 0, 0)`
	}
	const setup = (element: HTMLHeadingElement) => {
		const listener = () => update(element)
		window.addEventListener('scroll', listener)
		window.addEventListener('resize', listener)
	}
	document.querySelectorAll<HTMLHeadingElement>('[data-home-section-title]').forEach(setup)
</script>
