---
import Container from '@components/Container.astro'
import HomeCanvas from './HomeCanvas.astro'
---

<div class='relative overflow-hidden lg:text-slate-12'>
	<HomeCanvas />
	<Container class='relative flex flex-col justify-end pb-24 pt-32 lg:min-h-[85vh] lg:pb-32'>
		<h1 class='text-4xl lowercase leading-tight tracking-tight'>Move fast,<br />learn every day</h1>
	</Container>
</div>
