<div data-home-canvas class='absolute bottom-0 left-0 right-0 top-0'></div>
<script>
	import type { Listener } from 'src/utils/canvas'
	import { setup } from 'src/utils/canvas'
	import { draw } from 'src/utils/home-canvas'
	// don’t update on scroll as the parent is `position: fixed`
	const listeners: Listener[] = ['mousemove', 'resize']
	document.querySelectorAll<HTMLDivElement>('[data-home-canvas]').forEach(setup(draw, listeners))
</script>
