---
import Row from './Row.astro'
import Column from './Column.astro'

export type Props = { title?: string }
const { title } = Astro.props
---

<section class='relative'>
	<div class='hidden border-b border-slate-4 bg-slate-1 lg:block'></div>
	<Row container>
		<Column
			xs={16}
			lg={3}
			xl={2}
			class='sticky top-0 bg-slate-1 lg:relative lg:top-0 lg:border-none lg:bg-transparent lg:pb-4 lg:pt-0'
		>
			<h2 class='px-8 py-3 text-slate-9 md:px-4 lg:sticky lg:top-3 lg:mt-3 lg:px-0 lg:py-0 xl:top-4 xl:mt-4'>
				{title}
			</h2>
			<div class='-mx-4 border-b border-slate-4 md:-mx-8 lg:hidden'></div>
		</Column>
		<Column xs={0} xl={2} xxl={3} />
		<Column xs={16} lg={12} xl={8} xxl={6}>
			<slot />
		</Column>
	</Row>
</section>
