---
import Container from './Container.astro'

export type Props = { title?: string }
const { title } = Astro.props
---

<section class='relative break-inside-avoid'>
	<div class='hidden border-b border-slate-4 bg-slate-1 lg:pointer-events-none lg:block'></div>
	<Container class='sticky top-0 z-[2] bg-slate-1 lg:pointer-events-none lg:bg-transparent'>
		<div class='sticky top-0 bg-slate-1 print:relative lg:static lg:border-none lg:bg-transparent'>
			<h2
				data-home-section-title
				class='absolute inline-block py-3 text-slate-9 will-change-transform lg:static lg:pb-4 lg:pt-4 lg:leading-6'
			>
				<span class='lg:pointer-events-auto'>
					{title}
				</span>
			</h2>
			<div class='h-12 lg:hidden'></div>
			<div class='-mx-4 border-b border-slate-4 print:mx-0 md:-mx-8 lg:hidden'></div>
		</div>
	</Container>
	<ul class='block lg:-mt-[56px]'>
		<slot />
	</ul>
</section>
<script>
	const isMobile = 'ontouchend' in document
	const update = (element: HTMLHeadingElement, initialY: number) => {
		if (window.innerWidth >= 1024) {
			element.style.transform = `translateX(0px)`
			return
		}
		const y = isMobile ? initialY - scrollY : element.getBoundingClientRect().y
		if (window.innerWidth >= 768) {
			const x = Math.min(Math.max(-y + 48, 0), 16)
			element.style.transform = `translateX(${x}px)`
			return
		}
		const x = Math.min(Math.max(-y + 48, 0), 28)
		element.style.transform = `translateX(${x}px)`
	}
	const setup = (element: HTMLHeadingElement) => {
		const initialY = element.getBoundingClientRect().y
		const listener = () => update(element, initialY)
		window.addEventListener('scroll', listener)
		window.addEventListener('resize', listener)
		listener()
	}
	document.querySelectorAll<HTMLHeadingElement>('[data-home-section-title]').forEach(setup)
</script>
