---
import Container from '@components/Container.astro'
---

<section class='image-slice'>
	<figure class='text-md bg-slate-2 font-serif text-slate-12'>
		<slot />
		<Container class='py-5'>
			<figcaption><slot name='caption' /></figcaption>
		</Container>
	</figure>
	<section>
		<style is:global>
			.image-slice a {
				@apply underline decoration-slate-7 outline-none hover:decoration-slate-11 focus:decoration-slate-11 focus-visible:decoration-slate-11 focus-visible:decoration-2 active:decoration-slate-12;
			}
		</style>
	</section>
</section>
