---
import { SEO, Props as SEOProps } from 'astro-seo'
import Logo from '@components/Logo.astro'
import GridOverlay from '@components/GridOverlay.astro'
import ThemeSwitcher from '@components/ThemeSwitcher.astro'

export type Props = SEOProps
---

<!doctype html>
<html lang='en' class='bg-slate-1 text-slate-12' style='--bg: hsl(var(--slate1))'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<SEO {...Astro.props} />
		<script is:inline>
			const darkMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
			const getTheme = () => {
				const media = darkMediaQuery.matches ? 'dark' : 'light'
				const user = localStorage?.getItem?.('theme')
				return user || media
			}

			const getGrid = () => localStorage.getItem('grid')

			const html = document.documentElement

			html.setAttribute('data-theme', getTheme())
			html.setAttribute('data-grid', getGrid())
			darkMediaQuery.addEventListener('change', () => html.setAttribute('data-theme', getTheme()))
			window.addEventListener('storage', (e) => {
				if (e.key === 'theme') return html.setAttribute('data-theme', getTheme())
				if (e.key === 'grid') return html.setAttribute('data-grid', getGrid())
			})
		</script>
		<style>
			html {
				-webkit-font-smoothing: antialiased;
				font-smoothing: antialiased;
				font-feature-settings:
					'kern',
					'liga',
					'calt',
					'pnum' 0,
					'tnum',
					'onum' 0,
					'lnum',
					'dlig',
					'zero',
					'case';
			}
			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-Regular.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-Regular.ttf') format('truetype');
				font-style: normal;
				font-weight: 400;
			}

			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-RegularItalic.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-RegularItalic.ttf') format('truetype');
				font-style: italic;
				font-weight: 400;
			}

			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-Semibold.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-Semibold.ttf') format('truetype');
				font-style: normal;
				font-weight: 500;
			}

			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-SemiboldItalic.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-SemiboldItalic.ttf') format('truetype');
				font-style: italic;
				font-weight: 500;
			}
		</style>
	</head>
	<body>
		<Logo />
		<slot />
		<GridOverlay />
		<ThemeSwitcher />
	</body>
</html>
