---
import type { Props as SEOProps } from 'astro-seo'
import Html from 'src/components/Html.astro'
import Logo from 'src/components/Logo.astro'
import PhotoLogo from 'src/components/PhotoLogo.astro'
import GridOverlay from 'src/components/GridOverlay.astro'
import ThemeSwitcher from 'src/components/ThemeSwitcher.astro'
import Container from 'src/components/Container.astro'
import DribbbleLogo from './DribbbleLogo.astro'
import GithubLogo from './GithubLogo.astro'

export type Props = SEOProps | {}
---

<Html {...Astro.props}>
	<div aria-hidden='true' class='relative my-2 hidden print:block'>
		<Container class='flex justify-between align-baseline'>
			<div class='text-slate-11'>Vitor Dino</div>
			<div class='font-mono text-xs text-slate-8 underline decoration-slate-4'>vitordino.com</div>
		</Container>
	</div>
	<header class='print:hidden'>
		<nav class='pointer-events-none fixed left-0 right-0 top-0 z-10 flex justify-between mix-blend-exclusion'>
			<Logo />
			<div class='flex justify-between'>
				<DribbbleLogo />
				<GithubLogo />
				<PhotoLogo />
			</div>
		</nav>
	</header>
	<slot />
	<footer class='print:hidden'>
		<GridOverlay />
		<ThemeSwitcher />
	</footer>
</Html>
