---
import GridOverlay from '@components/GridOverlay.astro'
import ThemeSwitcher from '@components/ThemeSwitcher.astro'

type Props = { title: string }
const { title } = Astro.props
---

<!doctype html>
<html lang='en' class='bg-slate-1 text-slate-12' style='--bg: hsl(var(--slate1))'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>{title}</title>
		<script is:inline>
			const darkMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
			const getTheme = () => {
				const media = darkMediaQuery.matches ? 'dark' : 'light'
				const user = localStorage?.getItem?.('theme')
				return user || media
			}

			document.documentElement.setAttribute('data-theme', getTheme())
			document.documentElement.setAttribute('data-grid', localStorage?.getItem?.('grid'))
			darkMediaQuery.addEventListener('change', () => document.documentElement.setAttribute('data-theme', getTheme()))
		</script>
		<style>
			html {
				-webkit-font-smoothing: antialiased;
				font-smoothing: antialiased;
				font-feature-settings:
					'kern',
					'liga',
					'calt',
					'pnum' 0,
					'tnum',
					'onum' 0,
					'lnum',
					'dlig',
					'zero',
					'case';
			}
			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-Regular.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-Regular.ttf') format('truetype');
				font-style: normal;
				font-weight: 400;
			}

			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-RegularItalic.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-RegularItalic.ttf') format('truetype');
				font-style: italic;
				font-weight: 400;
			}

			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-Semibold.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-Semibold.ttf') format('truetype');
				font-style: normal;
				font-weight: 500;
			}

			@font-face {
				font-family: 'Tiempos Text';
				src:
					url('/fonts/tiempos-text/TiemposText-SemiboldItalic.woff') format('woff'),
					url('/fonts/tiempos-text/TiemposText-SemiboldItalic.ttf') format('truetype');
				font-style: italic;
				font-weight: 500;
			}
		</style>
	</head>
	<body>
		<slot />
		<GridOverlay />
		<ThemeSwitcher />
	</body>
</html>
