---
import GridOverlay from '@components/GridOverlay.astro'
import ThemeSwitcher from '@components/ThemeSwitcher.astro'

type Props = { title: string }
const { title } = Astro.props
---

<!doctype html>
<html lang='en' class='bg-slate-1 text-slate-12' style='--bg: hsl(var(--slate1))'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>{title}</title>
		<script is:inline>
			const darkMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
			const getTheme = () => {
				const media = darkMediaQuery.matches ? 'dark' : 'light'
				const user = localStorage?.getItem?.('theme')
				return user || media
			}

			document.documentElement.setAttribute('data-theme', getTheme())
			document.documentElement.setAttribute('data-grid', localStorage?.getItem?.('grid'))
			darkMediaQuery.addEventListener('change', () => document.documentElement.setAttribute('data-theme', getTheme()))
		</script>
	</head>
	<body>
		<slot />
		<GridOverlay />
		<ThemeSwitcher />
	</body>
</html>
