<a href='/' class='color-white group fixed z-10 rounded-full p-4 mix-blend-difference outline-none'>
	<div
		class='color-white h-4 w-4 rounded-lg bg-white bg-blend-difference ring-2 ring-white ring-opacity-0 ring-offset-4 ring-offset-black group-focus-visible:ring-opacity-20'
	>
	</div>
	<span class='sr-only'>vitor dino</span>
</a>
