<a href='/' class='color-white group fixed z-10 rounded-full p-4 mix-blend-difference outline-none'>
	<div
		class='color-white group-focus-visible:animate-breathe h-4 w-4 rounded-lg bg-white bg-blend-difference transition-transform duration-500 group-hover:scale-125'
	>
	</div>
	<span class='sr-only'>vitor dino</span>
</a>
