<a
	href='https://dino.photo'
	target='_blank'
	class='pointer-events-auto p-4 outline-none ring-white ring-offset-1 focus-visible:ring-1'
>
	<div
		class='flex h-4 w-4 items-center justify-center rounded-lg duration-0 group-hover:rotate-[-72deg] group-hover:duration-300 group-focus:rotate-[-72deg] group-focus:duration-300 xl:h-5 xl:w-5'
	>
		<svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class='h-full w-full'>
			<g stroke='white' stroke-width='5'>
				<path d='M1.5 12L12 12'></path>
				<path d='M8.75 22L12 12'></path>
				<path d='M20.5 18.18L12 12'></path>
				<path d='M20.5 5.82L12 12'></path>
				<path d='M8.75 2L12 12'></path>
			</g>
		</svg>
	</div>
	<span class='sr-only'>vitor dino</span>
</a>
