<a
	href='https://dino.photo'
	target='_blank'
	class='group fixed right-0 z-10 p-4 mix-blend-difference outline-none ring-white ring-offset-1 focus-visible:ring-1'
>
	<div
		class='flex h-4 w-4 items-center justify-center rounded-lg mix-blend-difference duration-0 group-hover:rotate-[-72deg] group-hover:duration-300 group-focus:rotate-[-72deg] group-focus:duration-300 xl:h-5 xl:w-5'
	>
		<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
			<g stroke='white' stroke-width='5'>
				<path d='M1.5 12L12 12'></path>
				<path d='M8.75 22L12 12'></path>
				<path d='M20.5 18.18L12 12'></path>
				<path d='M20.5 5.82L12 12'></path>
				<path d='M8.75 2L12 12'></path>
			</g>
		</svg>
	</div>
	<span class='sr-only'>vitor dino</span>
</a>
