---
import Column from './Column.astro'
import Row from './Row.astro'
type Props = { author?: string }
const { author } = Astro.props
---

<section class='slice quote-slice font-serif35'>
	<blockquote class='relative py-20 md:pb-48 md:pt-32'>
		<!-- quote slice decoration -->
		<div>
			<Row container>
				<Column xs={0} xl={1} />
				<Column xs={1}>
					<div
						class='relative text-7xl font-black leading-8 text-slate-6 before:block before:content-["“"] lg:absolute lg:-translate-y-1/4 lg:text-8xl'
					>
					</div>
				</Column>
			</Row>
		</div>
		<slot />
		{
			author && (
				<Row container>
					<Column xs={0} lg={1} xl={2} />
					<Column xs={16} lg={12} xl={12}>
						<cite class='text-md lg:text-xl mt-8 block font-serif leading-6 text-slate-9'>{author}</cite>
					</Column>
				</Row>
			)
		}
	</blockquote>
</section>

<style is:global>
	.quote-slice p {
		@apply font-serif35 text-2xl font-extrabold leading-9 sm:text-4xl sm:leading-snug md:text-5xl md:leading-[4rem];
		text-wrap: balance;
	}
</style>
