<div data-reduxtron-canvas class={Astro.props.class}></div>
<script>
	import { draw } from 'src/utils/reduxtron-canvas'
	import { setup } from 'src/utils/canvas'
	document.querySelectorAll<HTMLDivElement>('[data-reduxtron-canvas]').forEach(setup(draw))
</script>
