---
import { cn } from '@utils/cn'
type Props = { theme?: string; 'alt-bg'?: boolean }
const { theme } = Astro.props

const className = 'slice text-slice pb-48 pt-32 text-slate-12 bg-slate-1'
---

<section data-theme={theme} class={className}>
	<slot />
</section>

<style is:global>
	.text-slice > * + * {
		margin-top: 1.75em;
	}
</style>
