---
import { cn } from '@utils/cn'
type Props = { theme?: string; 'alt-bg'?: boolean }
const { theme } = Astro.props

const className =
	'text-slice pb-48 pt-32 text-slate-12 bg-slate-1 [&:nth-child(2n)]:bg-slate-3 dark:[&:nth-child(2n)]:bg-slate-2'
---

<section data-theme={theme} class={className}>
	<slot />
</section>

<style is:global>
	.text-slice > * + * {
		margin-top: 1.75em;
	}
</style>
