---
import { getCollection } from 'astro:content'
import ArticleLayout from '@components/ArticleLayout.astro'

export const getStaticPaths = async () => {
	const writingEntries = await getCollection('writing')
	return writingEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<ArticleLayout>
	<h1>{entry.data.title}</h1>
	<Content />
</ArticleLayout>
