---
import { getCollection } from 'astro:content'
import ArticleLayout from '@components/ArticleLayout.astro'
import P from '@markdown/P.astro'
import H2 from '@markdown/H2.astro'
import BlockQuote from '@markdown/BlockQuote.astro'
import Pre from '@markdown/Pre.astro'
import HR from '@markdown/HR.astro'

export const getStaticPaths = async () => {
	const writingEntries = await getCollection('writing')
	return writingEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content, components } = await entry.render()
---

<ArticleLayout>
	<h1>{entry.data.title}</h1>
	<Content components={{ ...components, blockquote: BlockQuote, h2: H2, p: P, pre: Pre, hr: HR }} />
</ArticleLayout>
